@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC:wght@400..700&display=swap');

:root {
    --background: #f6f4f1;
    --letra: #0000;
    --titulos: #5b5247;
    --destaque: #af9d81;
    --fonte: "Baskervville SC", serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
}

header {
    text-align: center;
    padding: 100px;
    text-transform: uppercase;
    font-weight: 100;
}

header h1 {
    font-size: 40px;
    color: var(--titulos);
}

.vendas-container {
    display: flex;
    margin: 180px 360px;
    padding: 20px;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: -5px 11px 50px rgba(0, 0, 0, 0.288);
}

.container {
    display: flex;
    margin-left: 10%;
}

.container img {
    width: 300px;
    height: 250px;
    border-radius: 30px;
}

.container-descricao h3 {
    font-size: 30px;
    color: var(--titulos);
}

.container-descricao {
    margin-left: 25px;
    color: var(--titulos);
}

.container-descricao p {
    font-size: 25px;
    margin-bottom: 5px;
}

.container-descricao hr {
    border: 1px solid #5b524783;
    margin: 20px 20px;
}

.container-descricao a {
    background-color: var(--destaque);
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 30px;
    font-weight: 500;
}

.container-descricao a:hover {
    background-color: var(--titulos);
    transition: 0.5s;
}
.Voltar {
    margin-left:7%;
    padding: 20px 50px;
    color: var(--background);
    text-decoration: none;
    background-color: var(--destaque);
    text-transform: uppercase;
    border-radius: 30px;
}
.Voltar i {
    margin-right: 10px;
}
.Voltar:hover{
    background-color: var(--titulos);
    transition: 0.5s;
}
footer {
    margin: 50px;
}
footer p {
    color: var(--titulos);
    text-align: center;
    margin-top: 30px;
}
@media screen and (max-width: 780px) {
    header {
        padding: 48px;
    }

    .vendas-container{
    flex-direction: column;
    margin: 0 30px;
   }

    .container-descricao a {
        margin-bottom: 20px;
    }
}