@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background: #f6f4f1;
    --letra: #0000;
    --titulos: #5b5247;
    --destaque: #af9d81;
  
}

* {
    margin: 0;
    padding: 0;
     font-family: "Open Sans", sans-serif;
}

header {
    text-align: center;
    margin: 20px;
}
.container-descontos {
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}
.container-descontos h1 {
    font-size: 24px;
    margin-bottom: 30px;
}
.card-desconto {
    display: grid;
    grid-template-columns: 150px 1fr; /* imagem do lado esquerdo e texto do lado direito*/
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 150px;
    text-align: left;
    box-shadow: 5px 5px 50px rgba(99, 91, 91, 0.712);
}

.img-box img{
    width: 120%;
    max-width: 300px;
}
.informações {
    margin-left: 51px;
}
.informações h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.informações p{
    margin: 10px 0;
    font-size: 18px;
}
.informações ul li{
    font-size: 18px;
    margin-bottom: 18px;
}
.informações a{
    background-color: var(--destaque);
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.informações a:hover{
    background-color: var(--titulos);
    transition: 1s;
    box-shadow: 5px 5px 50px rgba(99, 91, 91, 0.712);
}
@media  screen and (max-width: 600px) {
    .card-desconto {
        grid-template-columns: 1fr; /* só uma coluna */
        text-align: center;
    }

    .informações {
        text-align: center;
    }
}
