@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC:wght@400..700&display=swap');

:root {
    --background: #f6f4f1;
    --letra: #0000;
    --titulos: #5b5247;
    --destaque: #af9d81;
    --fonte: "Baskervville SC", serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
}

.shop {
    text-align: center;
    text-transform: uppercase;
    margin-top: 80px;
    font-weight: 100;
    color: var(--titulos);
}
.oferts {
    margin-left: 7%;
    text-transform: uppercase;
    font-weight: 100;
}
.container-produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 5% 15%;
    
}
.produto {
    display: flex;
    flex-direction: column
}
.produto img {
    width: 350px;
    height: 250px;
    border-radius: 30px;
}
.produto p {
    font-size: 20px;
    margin-top: 15px;
    margin-right: 20px;
    color: var(--titulos);
}
.produto a {
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--destaque);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.descricao {
    margin-right: 20px;
}
@media screen and (max-width: 1222px) {
   .container-produtos{
        grid-template-columns: 1fr;
    }
    .oferts {
        margin-top: 10px;
    }
    .produto img {
    width: 300px;
    height: 200px;
}
}